@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 welcome-text">Bem Vindo</h1>
</div>

<div class="rectangles-container">
    <div class="vertical-rectangle" style="background-color: #d9302f;"></div>
    <div class="vertical-rectangle" style="background-color: #0a8e45;"></div>
    <div class="vertical-rectangle" style="background-color: #f9c01b;"></div>
    <div class="vertical-rectangle" style="background-color: #f38d20;"></div>
    <div class="vertical-rectangle" style="background-color: #a3a3a3;"></div>
</div>
